[submodule "simulator"]
	path = simulator
	url = git@github.com:satyapravin/CppSimulator.git
[submodule "third_party/abseil-cpp"]
	path = third_party/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
